<!DOCTYPE html><html><head><%- include('partials/head') %></head>
  <body style="background-color: #b0e0e6">
    <div class="container marginAuto centerVertical">
      <center>
        <h1 class="marginTop1 fontSize9vwMobile17vw fontFamilyGeorgia">
          Animalia
        </h1>
        <h1 class="margin1 fontSize4remMobile9vw fontFamilyGeorgia">
          (Room <%= szekreny %>)
        </h1>
        <a class="marginTop2 black" href="/"
          >Mi ez? <span style="font-size:1.2em">ℹ️</span
        ></a>

        <table
          class="table table-striped bordered table-light alignCenter marginTop1"
        >
          <thead class="thead-dark">
            <tr>
              <th scope="col" colspan="3">Ranglista</th>
            </tr>
          </thead>
          <thead>
            <tr>
              <th class="width2"></th>
              <th>Név</th>
              <th>Pont</th>
            </tr>
          </thead>
          <tbody>
            <% leaders.forEach(function(ember,index){ %>
            <tr>
              <th scope="row"><%= index+1 %>.</th>
              <td><%= ember.nev %></td>
              <td><%= ember.pont %></td>
            </tr>
            <% }) %>
            <tr onclick="href()">
              <td colspan="3" class="" style="cursor: pointer">
                Összes mutatása
              </td>
            </tr>
          </tbody>
        </table>

        <a class="btn btn-light margin1 btn-lg" href="/<%= szekreny %>/play"
          >Tovább</a
        >
      </center>
    </div>
  </body>
</html>

<script>
  function href() {
    window.location.href = "/<%= szekreny %>/leader";
  }
</script>
